* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    background-color: orangered;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 150px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    cursor: pointer;
}
.back{
    background-color: #fff;
    color: #212121;
    padding: 10px;
    width: 10%;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-radius: 10px
}